.name-icon {
  height: 100%;
}
.link {
  text-decoration: none !important;
}
.text-off-white {
  color: rgb(0, 0, 0);
}
.tupple {
  border-color: #454d55;
}
.post-by {
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
}
.post-title {
  padding: 12px 20px;
}
